<style>

    .progress {
        width: 150px;
        height: 150px;
        line-height: 150px;
        background: none;
        margin: 20px;
        position: relative;
    }

    .progress::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 12px solid lightgray;
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress>span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .progress .progress-left {
        left: 0;
    }

    .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 12px;
        border-style: solid;
        position: absolute;
        top: 0;
    }

    .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .progress .progress-right {
        right: 0;
    }

    .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    .progress .progress-value {
        position: absolute;
        top: 0;
        left: 0;
    }

    .datas form button {
        width: 300px;
        margin-bottom: 15px;
    }

</style>



    <h1 class="mt-5" style="font-weight: bold;text-align: center">{{station.address}}</h1>
    <h2 style="color: #0275d8;text-align: center">AQI</h2>
    <div class="progress mx-auto" data-value='{{station.datas.pollutants.AQI}}'>
          <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
          </span>
        <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
          </span>
        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold">{{station.datas.pollutants.AQI}}</div>
        </div>
    </div>
    <div class="container">
        <div class="row datas">
            <div class="col-12 col-md-4 offset-md-2 text-center">
                <h3 style="font-style: italic;text-align: center ">Alergens: </h3>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/Birch">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Birch: {{station.datas.allergens.Birch}}</button><br/>
                </form>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/Alder">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Alder: {{station.datas.allergens.Alder}}</button><br/>
                </form>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/Mugwort">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Mugwort: {{station.datas.allergens.Birch}}</button><br/>
                </form>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/Grasses">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Grasses: {{station.datas.allergens.Alder}}</button><br/>
                </form>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/Ragweed">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Ragweed: {{station.datas.allergens.Mugwort}}</button><br/>
                </form>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/OliveTree">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">OliveTree: {{station.datas.allergens.Grasses}}</button><br/>
                </form>
            </div>
            <div class="col-12 col-md-4  text-center">
                <h3 style="font-style: italic; text-align: center">Pollutants: </h3>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/PM2_5">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">PM2.5: {{station.datas.pollutants.PM2_5}}</button><br/>
                </form>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/PM10">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">PM10: {{station.datas.pollutants.PM10}}</button><br/>
                </form>
                <form method="get" action="/data/singlePollutant/{{station.datas.fromStation}}/NO2">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">NO2: {{station.datas.pollutants.NO2}}</button><br/>
                </form>
            </div>
        </div>
    </div>



{{> barplot}}

{{> comments}}


<script>
    $(function() {

        $(".progress").each(function() {

            var value = $(this).attr('data-value');
            var left = $(this).find('.progress-left .progress-bar');
            var right = $(this).find('.progress-right .progress-bar');

            if (value > 0) {
                if (value <= 50) {
                    right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                } else {
                    right.css('transform', 'rotate(180deg)')
                    left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                }
            }

        })

        function percentageToDegrees(percentage) {

            return percentage / 100 * 360

        }

    });
</script>
